body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #00042c; 
}

main {
    text-align: center;
}
h1 {
    font-size: 2rem;
    margin: 2rem;
    color: lightgray;
    font-family: 'Exo', sans-serif;
}
button {
    background-color: #0078d4;
    color: #fff;
    padding: 20px 40px;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: lightgray;
    border-radius: 2rem;
}

button p {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}