body {
    font-family: Arial, sans-serif;
    background-color: #001207;
    color: #FFF;
    margin: 0;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000201;
    padding-bottom: 16px;
    padding-top: 4px;
    margin-bottom: 10px;
}

menu{
    display: flex;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 8px;
    margin-right: 8px;
}
.titulo {
    font-size: 40px;
    margin: 10px 25px 25px;
}
.Voltar{
    cursor: pointer;
}

.icon-container {
    display: flex;
    padding: 20px;
    margin-right: 2rem;
    cursor: pointer;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(255, 255, 255);
    border-radius: 70px;
    background-color: #000;

}

.icon {
    color: #FFF;
    font-size: 50px;
    text-align: center;
    width: 58px;
}

.footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.conteiner-botao {
    background-color: #000;
    border-color: #ccc;
    border-width: 2px;
    border-radius: 15px;
    padding: 15px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
}

.lista {
    display: flex;
    flex-direction: column;
}

ol{
    padding-inline-start: 0px;
}
.itemConteiner{
    display: flex;
    background-color: lightgray;
    border-radius: 22px;
    margin-bottom: 10px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.imgConteiner{
    display: flex;
    height: 300px;
    width: 500px;
    min-width: 335px;
    max-width: 100%;
    align-items: center;
    border-style: solid;
    border-width: 1rem;
    border-right-width: 0px;
    border-radius: 20px;
    border-color: black;
    cursor: pointer;
}
.imgConteiner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.itemConteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 100%;
}
.nome, .nota{
    font-family: 'Exo', sans-serif;
    font-size: 3rem;
    color: black;
    margin: 0px;
}

.nome, .nota, .status{
    cursor: pointer;
} 

.status {
    color: #000;
}

.inputImagem {
    display: none;
}
.customFileInput{
    display: none;
}
.buttonConfirmar{
    color: #000;
    text-align: center;
    margin: 0;
    padding: 5px;
    border-style: solid;
    cursor: pointer;
}

.inputTextConteiner{
    display: flex;
}
.span{
    color: rgb(180, 0, 0);
    font-size: 1.5rem;
    font-weight: bold;
}

.dropdown {
    position: relative;
    width: 80%;
    margin: 5px;
}

.dropdown-select {
    width: 100%;
    padding: 8px 16px;
    background-color: #f2f2f2;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 2px solid #ccc;
    cursor: pointer;
    color: #000;
}

.dropdown-options {
    position: absolute;
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 0 0 15px 15px;
    border: 2px solid #ccc;
    border-top: none;
    display: none;
}
.dropdown-option {
    padding: 8px 16px;
    cursor: pointer;
    color: #000;
}
.dropdown-option:hover {
    background-color: #888; /* Cor de fundo mais escura */
    border-radius: 15px;
}
.dropdown-options.active {
    display: block;
}

.botoesConteiner{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.botao{
    font-size: 1.8rem;
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: solid;
    border-width: 1rem;
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer;
    transition: 1s;
    margin: 20px;
}
.botao:hover{
    padding-left:70px ;
    padding-right:70px ;
    color: lightgrey;
    border-color: lightslategray
}

.salvar{
    color: rgb(34, 73, 179);
    border-color:rgb(34, 73, 179);
}
.deletar{
    color: rgb(179, 34, 34);
    border-color:rgb(179, 34, 34);
}

/* Estilo para o pop-up */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgray;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(43, 43, 43);
    border-radius: 50px;
    padding: 20px;
    z-index: 1;
  }

  /* Estilo para o fundo do pop-up */
  .popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .popup p{
    color: black;
    font-size: 1.8rem;
    text-align: center;
  }

  .pop-up-menu{
    display: flex;
    justify-content: space-around;
  }
@media only screen and (max-width: 600px) {
    .titulo {
        font-size: 30px;
    }
    .cabecalho{
        padding: 0;
    }
    .botoesConteiner{
        flex-direction: column-reverse;
    }
    .inputTextConteiner{
        flex-direction: column;
    }
    .dropdown-select{
        width: auto;
    }
    .nome, .nota{
        font-size: large;
    }
    .icon-container {
        margin-right: 1rem;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .conteiner-botao {
        margin-top: 10px;
    }

    .itemConteiner {
        flex-direction: column;
    }
}